# fly.toml app configuration file generated for render-api-backend on 2025-12-06T14:06:00-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'render-api-backend'
primary_region = 'ord'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
